spring:
  application:
    name: resonance

  datasource:
    url: jdbc:postgresql://localhost:5432/resonance
    username: res
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8088